@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.post-div{
    height: fit-content;
    width: fit-content;
    background: rgb(47,7,67);
    background: linear-gradient(7deg, rgba(47,7,67,1) 0%, rgba(105,69,142,1) 100%);
    color: #d3d3d3;
    /*
    max-width: 30%;
    min-width: 20%;
    min-height: 10vh;
    max-height: 30vh;
    
    padding-top: 30px;
    padding-bottom: 30px;
    */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;


}

.post-title-div{
    top: 0px;
    width: 94%;
    height: fit-content;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}



.post-file-div{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-top: 15px;

    justify-content: space-between;

}

.post-file-div a{
    margin-bottom: 5px;

}

.post-file-div a:hover{
    cursor: pointer;
}
/*
.post-div:hover{
    cursor: pointer;
}*/