.about-container{
    display: flex;
    flex-direction: row;
    color: #f7f7f7;
    align-items: center;
    overflow: visible;
}

.about-header-container{
    height: 100%;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:center;
    margin-left: 3%;
}
.about-header-container h1{
    margin: 40px;
    margin-right: 20px;

}
.about-header-container p{
    width: 95%;
    text-align: end;
    margin-right: 20px;
    font-size: 18px;
}


.about-content-container{
    margin-top: 2%;
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
    align-items: center;
}

.team-card{
    max-width: 40%;
    padding: 10px;
}
.team-card h1{
    font-size: 18px;
}
.team-card p{
    font-size: 12px;
}

